* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


.logo {
    width: 100px;
    height: 100px;
}

main {
    padding: 2rem 0;

    min-height: calc(100vh - 217px);
}



.border-thick {
    border-width: 3px;

}

.custom-form-add-properties {
    width: 20%;
}